{% extends 'layout.html'%}{% block title %} Asistencia - GYM SOURCE  {% endblock %}{% block content %}

<!-- DataTables -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/responsive.bootstrap4.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}"
/>
<style>
  #example1_filter{
    display: none !important;
  }
</style>
    <div class="container mt-5">
        <h2 class="text-center">Agregar clientes</h5>
    </div>
    

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <form action="/clientes" method="POST">
                    <div class="row">
                        <div class="col-lg-6">
                            <input name="nombre" type="text" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
                        </div>
                        <div class="col-lg-6 mt-2">
                            <input name="apellido" type="text" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apellido">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <input name="celular" type="text" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Numero de telefono">
                        </div>
                        <div class="col-lg-6 mt-2">
                            <input name="correo" type="text" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">
                        </div>
                    </div>

                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-lg btn-block">Enviar</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <!-- <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div> -->
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>correo</th>
                      <th>celular</th>
                      <th>Estado de membresia</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in clientes%}
                    <tr>
                      <td>{{i.nombre}}</td>
                      <td>{{i.apellido}}</td>
                      <td>{{i.correo}}</td>
                      <td>{{i.celular}}</td>
                      {% if i.estadomembresia == 0 %}
                      <td><span class="badge bg-danger">Inactivo {{i.estadomembresia}}</span></td>
                      {% else%}
                      <td><span class="badge bg-success">Activo {{i.estadomembresia}}</span></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>

    <script>
      $(document).ready(function() {
        $('#example').dataTable();
    } );
    </script>
  



    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        $(document).ready(function () {
          $("#example").hierarchySelect({
            hierarchy: false,
            width: "auto",
          });
        });
      });
    </script>
    {% block indexscript %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <!-- DataTables  & Plugins -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.colVis.min.js') }}"></script>
    <script>
      //buscadortabla = document.getElementById("example1_filter");
      //buscadortabla.style.display = "none";

      $(function () {
        $("#example1")
          .DataTable({
            responsive: true,
            lengthChange: false,
            autoWidth: false,
            buttons: ["copy", "csv", "excel", "pdf", "print"],
          })
          .buttons()
          .container()
          .appendTo("#example1_wrapper .col-md-6:eq(0)");
        $("#example2").DataTable({
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          info: true,
          autoWidth: false,
          responsive: true,
        });
      });
    </script>
    {% endblock %} {% endblock %}
  </div>
</div>
